.card-hasil {
    width: 350px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.foto-siswa {
    width: 120px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 2px solid #ddd;
}

.status {
    margin-top: 15px;
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

.lulus {
    background: #2ecc71;
    color: white;
}

.tidak-lulus {
    background: #e74c3c;
    color: white;
}
