body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #0a1931, #185adb);
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
}

.container {
    max-width: 500px;
    margin: 40px auto;
    background: rgba(255,255,255,0.1);
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(6px);
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.logo {
    width: 110px;
    margin-bottom: 10px;
}

h1 {
    font-size: 25px;
    font-weight: 700;
}

.line {
    width: 60%;
    height: 3px;
    background: #fff;
    margin: 15px auto;
    border-radius: 10px;
}

input {
    width: 80%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    outline: none;
    margin-bottom: 15px;
    font-size: 16px;
}

button {
    padding: 12px 25px;
    background: #ffc947;
    border: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background: #ffdd70;
}

.hasil {
    display: none;
    margin-top: 20px;
    padding: 15px;
    background: rgba(255,255,255,0.2);
    border-radius: 12px;
    font-size: 18px;
}
